<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ page.title }} | {{ site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="{{ site.author }}" />

	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/favicon/apple-touch-icon.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | relative_url }}">
	<link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | relative_url }}">
	<link rel="mask-icon" href="{{ "/assets/favicon/safari-pinned-tab.svg" | relative_url }}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	
	{% include google-analytics.html %}

	<link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ "/assets/css/animate.css" | relative_url }}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ "/assets/css/icomoon.css" | relative_url }}">
	<!-- Bootstrap  -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
	<!-- Owl Carousel -->
	<link rel="stylesheet" href="{{ "/assets/css/owl.carousel.min.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/owl.theme.default.min.css" | relative_url }}">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{{ "/assets/css/magnific-popup.css" | relative_url }}">

	<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/add.css" | relative_url }}">

	<!-- Modernizr JS -->
	<script src="{{ "/assets/js/modernizr-2.6.2.min.js" | relative_url }}"></script>

</head>