
/** Variables **/

$container-BgColor: #444;
$left-bgColor: rgba(189, 93, 56, 0.7);
$left-button-hover: rgba(189, 127, 56, 0.7);
$right-bgColor: rgba(56, 174, 179, 0.8);
$right-button-hover: rgba(108, 140, 141, 0.7);
$hover-width: 75%;
$small-width: 25%;
$animateSpeed: 1000ms;


html, body {
  padding:0;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.screen-div {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 5rem;
  color: #fff;
  white-space: nowrap;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

p {
  font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: #fff;
  font-size: 3rem;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

.button {
  display: block;
  margin: auto;
  height: 2.6rem;
  padding-top: 1.5rem;
  width: 15rem;
  text-align: center;
  color: white;
  border: 3px solid #fff;
  border-radius: 4px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .2s;
}

.screen.left .button:hover {
  background-color: $left-button-hover;
  border-color: $left-button-hover;
}

.screen.right .button:hover {
  background-color: $right-button-hover;
  border-color: $right-button-hover; 
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: $container-BgColor;
  
    .screen {
      position: absolute;
      width: 50%;
      height: 100%;
      overflow: hidden;
    }
}

.screen.left {
  left:0;
  background: url('../img/gallery/florian-klauer-489-unsplash.jpg') center center no-repeat;
  background-size: cover;
  
    &:before {
       position:absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $left-bgColor;
    }
}

.screen.right {
  right:0;
  background: url('../img/gallery/stil-734858-unsplash.jpg') center center no-repeat;
  background-size: cover;
  
   &:before {
      position:absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: $right-bgColor;
    }
}


.screen.left, .screen.right, .screen.right:before, .screen.left:before {
  transition: $animateSpeed all ease-in-out;
}

.hover-left .left {
  width: $hover-width;
}

.hover-left .right {
  width: $small-width;
}

.hover-left .right:before {
  z-index: 2;
}

// Hover right screen

.hover-right .right {
  width: $hover-width;
}

.hover-right .left {
  width: $small-width;
}

.hover-right .left:before {
  z-index: 2;
}

/**** Responsive *****/

@media(max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media(max-height: 700px) {
  .button {
    top: 70%;
  }
}