@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,700';
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.min-text-container {
    height: 2vh;
}

.minimum-text {
    display: none;
    margin: auto;
    text-align: center;
    font-weight: 100;
    font-size: 2vh;
    color: rgb(66, 66, 66);
    width: 600px;
}

.quote-header h2 {
    color: white;
    text-align: center;
    width: 100%;
}

.content {
    position: relative;
    left: 0;
    top: 0;
}

.main {
    height: 90vh;
    width: 100%;
    background: url(../img/header_background.jpg) center center / cover no-repeat;
}

.dark-filter {
    background: rgba(130, 130, 130, 0.5);
}

.vertical-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.carpet-main {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #42BAE7;
    margin: auto;
    margin-bottom: 50px;
    white-space: nowrap;
}

.medium-large-font {
    font-size: 30px;
}

.medium-font {
    font-size: 25px;
}

.large-font {
    font-size: 90px;
}

.extra-large-font {
    font-size: 120px
}

.small-font {
    font-size: 16px;
    font-weight: 200;
    line-height: 25px;
    color: rgb(62, 62, 62);
}

.main-description {
    margin-bottom: 25px;
    max-width: 700px;
}

.quote-button {
    height: 60px;
    width: 200px;
    border-radius: 30px;
    background: #42BAE7;
    margin: auto;
}

.find-out-more-button {
    height: 60px;
    width: 50%;
    border-radius: 30px;
    margin: auto;
    margin-top: 15px;
    background: #212B35;
}

.find-out-more-button p a {
    text-decoration: none;
    color: white;
}

.main-cleaning {
    display: flex;
}

.cleaning-item-1,
.cleaning-item-2,
.cleaning-item-3 {
    flex: 0 1 50%;
}

.dark-filter,
.cleaning-item-1,
.cleaning-item-2,
.cleaning-item-3 {
    height: 700px;
}

.cleaning-item-1 {
    background: url(../img/clean1.jpg) center center / cover no-repeat;
}

.cleaning-item-2 {
    background: url(../img/clean2.jpg) center center / cover no-repeat;
}

.cleaning-item-3 {
    background: url(../img/RX20_2.jpg) center center / cover no-repeat;
}

.cleaning-item-text {
    width: 100%;
}

.block {
    display: block;
}

.main-text-container {
    width: 100%;
    margin: auto;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

.main-text-title {
    margin-bottom: 20px;
    font-weight: 400;
}

.main-text {
    max-width: 900px;
    color: black;
    text-align: center;
    padding: 50px 0;
}

.main-services {
    max-width: 900px;
    display: flex;
    margin: auto;
    padding: 50px 0;
}

.service-item {
    /*    min-height: 300px;*/
    flex: 0 1 49%;
    margin: 5px 0%;
    margin-right: 4%;
}

.blue-text {
    color: #42BAE7;
}

.service-more-button {
    height: 60px;
    width: 50%;
    border-radius: 30px;
    margin-top: 15px;
    background: #42BAE7;
}

.service-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.main-bottom {
    height: 100vh;
    width: 100%;
    background: url(../img/footer_background.jpg) center center / cover no-repeat;
}

.footer {
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-content {
    max-width: 800px;
}

.footer-social-media {
    display: flex;
    margin: auto;
    min-width: 200px;
}

.footer-social-link {
    height: 50px;
    flex: 0 1 29%;
    margin-left: 2%;
    margin-right: 2%;
}

.social-media-icon {
    height: 50px;
    width: auto;
}

.footer-text {
    color: #bdbdbd;
    margin: auto;
    margin-top: 20px;
    font-size: 12px;
}

.map {
    height: auto;
    width: 100%;
}

.gmap-canvas {
    height: 600px;
    width: 100%;
}

.scrolloff {
    pointer-events: none;
}

.quote-input {
    width: 40%;
    font-size: 1vw;
    font-weight: 100;
}

.quote-container {
    margin: auto;
    background: white;
    width: 800px;
    border: 2px solid #42BAE7;
}

.quote-section,
.quote-section-side {
    flex: 0 1 50%;
    display: inline-block;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.quote-section-title {
    flex: 0 1 100%;
    margin-bottom: 10px;
}

.quote-section-2 {
    flex: 0 1 33%;
    display: block;
    margin: auto;
    text-align: center;
}

.quote-section-3 {
    flex: 0 1 50%;
    display: block;
    margin: auto;
    text-align: center;
}

.quote-section-1,
.quote-section-2,
.quote-section-3 {
    margin: auto;
    margin-bottom: 2.5px;
    margin-top: 2.5px;
}

.quote-total-text {
    margin: auto;
    text-align: center;
    font-weight: 100;
    font-size: 22px;
    color: white;
}

.quote-label {
    width: 200px;
}


/*Menu Styles*/


/*IF menu height is changed, you have to change nav-filler, nav, and fix-body height*/

.nav-filler {
    /*    height: 75px;*/
    height: 10vh;
}

.nav-container {
    font-size: 1.5em;
    background-color: #FFFFFF;
    overflow: hidden;
    text-align: center;
    /*    box-shadow: 4px 4px 30px rgba(39, 39, 39, .7);*/
    position: relative;
    z-index: 1;
}

.nav {
    /*    height: 75px;*/
    height: 10vh;
    display: flex;
    width: 100%;
    z-index: 99;
    /*    padding-top: 25px;*/
    background: #42BAE7;
}

.fix-nav {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.fix-body {
    /*    margin-top: 75px;*/
    margin-top: 10vh;
}

.desktop-link a {
    text-decoration: none;
    color: white;
    display: block;
}

.desktop-link:hover {
    text-decoration: underline;
}

.active a {
    color: #42BAE7;
}

.active {
    background: white;
    border-radius: 30px;
}

.desktop-link {
    /*    width: 125px;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 130px;
    font-size: 14px;
    height: 40px;
}

.main-service-text {
    min-height: 125px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    color: rgb(62, 62, 62);
}

.testimonial-main {
    color: black;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonial-detail {
    font-size: 14px;
    line-height: 18px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    min-height: 15%;
}

.testimonial-author {
    margin-left: 10px;
    margin-right: 15px;
    text-align: right;
    margin-top: 20px;
    color: rgb(39, 39, 39);
    font-weight: 900;
}

.testimonials-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 25px;
}

.trump {
    border-bottom: 1px solid #DEDEDE;
    width: 800px;
    margin: auto;
}

.testimonial-item {
    flex: 0 1 33.33%;
    /*    padding: 20px;*/
    min-height: 200px;
    max-height: 200px;
    margin: auto;
    /*    margin-top: 20px;*/
    margin-bottom: 20px;
}

.testimonial-text {
    background: #f7f7f7;
    border: 1px solid #dddddd;
    width: 90%;
    min-height: 150px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.testimonial-interaction-container {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.testimonial-interaction {
    flex: 0 1 30%;
    height: 225px;
    margin: auto;
    background: url(../img/carpet.jpg) center center / cover no-repeat;
}

.interaction-text,
.interaction-text a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.other-text-title {
    text-align: center;
    margin-bottom: 20px;
}

.other-main-text {
    /*    max-width: 900px;*/
    color: black;
    text-align: left;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
}

.full-trump {
    border-bottom: 1px solid #dedede;
}

.other-services-container {
    width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.other-services-detail {
    margin-top: 50px;
    margin-bottom: 50px;
}

.other-services-title {
    margin-top: 20px;
}

.other-services-desc {
    color: #45BBE7;
}

.other-services-paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile-only {
    display: none;
}

.mobile-side-panel {
    height: 100vh;
    width: 100vw;
    background: rgb(57, 57, 57);
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 10;
    display: none;
}

.mobile-active {
    margin-left: 2%;
    width: 96%;
    background: #1d1d1d;
    border-radius: 14px;
}

.mobile-nav {
    height: 50px;
    position: absolute;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
    left: 12.5px;
    /*
    left: 25px;
    top: 25px;
*/
}

.mobile-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #42BAE7;
    z-index: 9;
}

.mobile-nav-title {
    font-size: 25px;
    font-weight: 900;
    width: 100%;
    text-align: center;
    line-height: 25px;
    color: white;
    margin-top: 25px;
    margin-bottom: 25px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 250;
    top: 0;
    left: 0;
    background-color: rgb(244, 244, 244);
    overflow-x: hidden;
    transition: 0.75s;
    padding-top: 25vh;
}

.side-li {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    text-align: left;
    padding-left: 25px;
}

.side-li a {
    text-decoration: none;
    font-weight: 900;
    font-size: 30px;
    color: rgb(39, 39, 39);
    line-height: 7vh;
    transition: 0.3s;
}

.side-nav-logo {
    width: 400px;
    height: auto;
    margin-left: 15%;
}

.flex-center-vertically {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.sidenav-show {
    display: block
}

.left-align {
    text-align: left;
}

.text-link {
    color: #42BAE7;
    text-decoration: none;
    font-weight: 400;
}

.text-link:hover {
    text-decoration: underline;
}

.white-font {
    color: white;
}

.round-link {
    text-decoration: none;
}

.round-link:hover div {
    background: #0880ad;
}

.bold {
    font-weight: 900;
}

ul li {
    font-weight: 100;
    list-style-type: square;
    color: rgb(39, 39, 39);
    padding: 5px 0;
    margin-left: 40px;
}

.bullet-spacing {
    margin-bottom: 5px;
}

.quote-header {
    margin: auto;
    margin-top: 150px;
    background: white;
    width: 800px;
    display: flex;
    text-align: center;
    background: #42BAE7;
    border: 2px solid #42BAE7;
    padding: 2vh 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.quote-title {
    font-weight: 900;
}

.red-font {
    color: red;
}

.quote-subtitle {
    font-weight: 100;
    font-size: 1vw;
}

.quote-title-margin {
    margin-left: 2vw;
    margin-top: 1vh;
}

.quote-subtitle-margin {
    margin-left: 2.5vw;
    margin-top: .5vh;
}

input[type=checkbox] {
    margin-left: 3vw;
    margin-top: 2vh;
}

.checkbox-label {
    font-weight: 400;
    color: #8e8e8e;
    font-size: 16px;
    margin-left: 1vw;
}

.third-container {
    width: 33%;
}

.quote-sub-container {
    width: 55%;
    margin: 2vh 0;
    margin-left: 5vw;
}

.quote-padding {
    padding: .5vh 0;
}

.quote-table-title {
    font-size: 14px;
}

.quote-table-padding {
    margin-bottom: 1vh;
}

#carpet-container {
    display: none;
}

#upholstery-container {
    display: none;
}

#other-container {
    display: none;
}

.quote-footer {
    margin: auto;
    margin-bottom: 150px;
    background: white;
    width: 800px;
    display: flex;
    text-align: center;
    background: #42BAE7;
    border: 2px solid #42BAE7;
    padding: 2vh 0;
    border-bottom-left-radius: 1vw;
}

#quote-total {
    font-weight: 900;
}

.mobile-logo-container {
    width: 100%;
    height: 30vw;
}

.mobile-logo-text {
    color: white;
    line-height: 40vw;
    ;
    text-align: center;
    font-weight: 800;
    letter-spacing: .5vw;
    font-size: 7vw;
}

.mobile-tab {
    width: 100%;
    height: 15vw;
}

.mobile-link {
    color: white;
    text-align: center;
    font-weight: 300;
    letter-spacing: .5vw;
    font-size: 4vw;
    line-height: 15vw;
    display: block;
    text-decoration: none;
}

.mobile-active {
    margin-left: 2%;
    width: 96%;
    background: #1d1d1d;
    border-radius: 14px;
}

.relative-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.mobile-close-button {
    width: 8vw;
    height: 8vw;
    position: absolute;
    top: 2vw;
    right: 2vw;
}