---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <article class="article  article--post  content  typeset">

    <h1>{{ page.title }}</h1>
    {% include post-meta.html %}
    {{ content }}

    {% include nav-share.html %}

    {% include post-comments.html %}

  </article>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

<!-- <div class="just-comments" data-allowguests="true" data-apikey="bf773ad9-b149-43a9-8609-4f7dda869e57"></div>
<script async src="https://just-comments.com/w.js"></script> -->
<div class="disqus">
  {% include disqus.html %}
</div>

{% include site-footer.html %}
