<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/split.css">
</head>

<body>
    <div class="container">
        <section class="screen left">
            <div class="screen-div">
                <h1>Online CV</h1>
                <a href="/resume" class="button">View</a>
            </div>
        </section>

        <section class="screen right">
            <div class="screen-div">
                <h1>Personal Blog</h1>
                <a href="/blog" class="button">Read</a>
            </div>

        </section>
    </div>
    <script src="{{ "/assets/js/split.js" | relative_url }}"></script>
</body>